body {
  padding: 50px
  padding-top: 200px;
  background-image: url(http://www.rds-tools.com/wp-content/uploads/161019_cybersecurity.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  color: white;
}

h1, #decMessage {
  color: rgb(0, 51, 128);
}

#pinDiv {
  color: orange;
}