<!doctype html>
<html ng-app="myApp">
<head>
  <title>User Login and Sessions</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" 
      href="/static/css/styles.css" />
  <style type="text/css">

    .navbar {
      background-color: <%= color %> !important;
    }

    .nav-item-highlight:hover a{
      color: <%= color %>;
    }   

  </style>
</head>
<body>
  <div class="container-fluid" ng-controller="myController">
    <nav class="navbar navbar-inverse bg-primary">
      <div class="row">
        <div class="col-10">
          <div class="navbar-brand">Welcome <%= username %></div>
        </div>
        <div class="col-1 align-self-center nav-item-highlight">
          <a href="/user">Edit User</a>
        </div>
        <div class="col-1 align-self-center nav-item-highlight">
          <a href="/logout">Logout</a>
        </div>
      </div>
    </nav>
    <div class="row align-items-center" style="height: 500px;">
      <div class="col-12" style="text-align: center;">
        <h1><%= msg %></h1>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script src="/static/js/my_app.js"></script>
</body>
</html>